/* 초기화 */
* { margin: 0; padding: 0; font: normal 12px 'Dotum';}
a { text-decoration: none; }
img { border: none; }
ul { list-style: none; }

/* top_navbar */
#top_navbar {
  display: flex;
  height: 40px;
  background: #0B0D12;
  overflow: hidden;
}
#top_navbar > a > #nav_logo {
  width: 62px;
  height: 40px;
}
#top_navbar > .left_item {
  overflow: hidden;
  float: left;
}
#top_navbar > .right_item {
  overflow: hidden;
  float: left;
}
#top_navbar > .left_item > span > a{
  overflow: hidden;
  float: left;
}

#top_navbar > .right_item > span > a{
  overflow: hidden;
  float: right;
}